In [22]:
import pandas as pd

In [35]:
df_listino = pd.read_csv('data_demo/art_costi.csv')
df_ddt = pd.read_csv('data_demo/ddt_righe.csv')

In [36]:
df_ddt = df_ddt[df_ddt["Data_documento"] > "2024-02-18"]
df_ddt

,COD_CF_Fornitore,Data_documento,ID_documento,Descrizione,Codice_articolo,Codice_variante,Codice_categoria,Unita_misura,Quantita_um,Prezzo_netto_vu,importo
20211,1964,2024-02-22,2024-BADDV-0000270,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,090.VST33,785,10.30.40.10.50,MQ,11.61,25.00000,290.25
20212,1964,2024-02-22,2024-BADDV-0000270,VETRO TRASPARENTE 33.1 SILENT F.G. ANTA INT.,090.VST33.SI,153,10.30.40.10.50,MQ,30.26,35.00000,1059.10
20214,3564,2024-02-19,2024-BADDV-0000273,CERNIERA VERTICALE 8674 fin.62 VERNICIATO NERO,017.PM591,0,10.30.50.10.040,PZ,2.00,34.50000,69.00
20215,584,2024-02-20,2024-BADDV-0000275,MANIGLIONE HOPPE E5012 IN ACCIAIO INOX,017.PM597,0,10.30.50.10.010,PZ,36.00,30.17917,1086.45
20216,584,2024-02-20,2024-BADDV-0000275,CERNIERA TECTUS TE 340 3D,017.PM571,0,10.30.50.10.010,PZ,200.00,29.61265,5922.53
...,...,...,...,...,...,...,...,...,...,...,...
20443,1964,2024-03-15,2024-BADDV-0000447,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,090.VST33,351,10.30.40.10.50,MQ,13.87,25.00000,346.75
20444,1964,2024-03-15,2024-BADDV-0000447,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,090.VST33,791,10.30.40.10.50,MQ,1.90,25.00000,47.50
20445,1964,2024-03-18,2024-BADDV-0000448,VETROCAMERA ANG. 90° TR. 904X950 SU PORTA SERI...,052.MP.VT.POR.TR.45.04,0,20.30.050,PZ,4.00,0.00000,0.00
20446,1964,2024-03-18,2024-BADDV-0000448,VETROCAMERA ANG. 90° TR. 904X950 SU PORTA SERI...,052.MP.VT.POR.TR.45.04,0,20.30.050,PZ,1.00,0.00000,0.00
20447,682,2024-02-28,2024-BADDV-0000449,CATENACCIOLO PER PORTA DOPPIA CRISTALLO SP.10 MM,017.PM397,0,10.30.50.10.010,PZ,20.00,50.25000,1005.00

In [38]:
# remove from listino al the products that are not in the ddt
df_listino = df_listino[df_listino["Codice_articolo"].isin(df_ddt["Codice_articolo"])]
df_listino

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
26,017.PM152,1,VETRO STRATIFICATO 33.1,30.50,2023-08-28,Vetri
27,017.PM152,2,VETRO STRATIFICATO 33.1,18.00,2023-08-28,Vetri
28,017.PM152,3,VETRO STRATIFICATO 33.1,30.50,2023-08-28,Vetri
29,017.PM152,4,VETRO STRATIFICATO 33.1,18.00,2023-08-28,Vetri
30,017.PM152,5,VETRO STRATIFICATO 33.1,18.00,2023-08-28,Vetri
...,...,...,...,...,...,...
1497,052.MP.COL.04,0,COLLA PER PANNELLI SANDWICH - POLIOLO,3.56,2022-12-07,Laminati e altri
1498,052.MP.COL.05,0,COLLA PER PANNELLI SANDWICH - ISOCIANATO,7.68,2022-12-07,Laminati e altri
1509,052.MP.HPL.4,2,LAMINATO HPL 4 MM RETRORUVIDATO,14.20,2023-04-19,Laminati e altri
1510,052.MP.HPL.4,3,LAMINATO HPL 4 MM RETRORUVIDATO,14.20,2023-04-19,Laminati e altri
1511,052.MP.HPL.4,0,LAMINATO HPL 4 MM RETRORUVIDATO,14.20,2023-04-19,Laminati e altri

In [41]:
df_fornitori = pd.DataFrame(df_ddt['COD_CF_Fornitore'].unique())
df_fornitori.columns = ['Codice_fornitore']
df_fornitori.head()

    Codice_fornitore
0               1964
1               3564
2                584
3               4986
4               3016
5               3013
6               3783
7               5624
8               4460
9               3280
10              2521
11              4974
12              2477
13              3415
14              2469
15              3595
16              3290
17              5453
18              3693
19              3315
20               595
21               653
22              1706
23              5436
24               732
25              3529
26              3408
27              3493
28              4881
29              5418
30               682
31              2463
32              1571
33               597

In [32]:
df_test.groupby('Data_documento').ID_documento.nunique().sum()

77

In [33]:
df_test.groupby('Data_documento').COD_CF_Fornitore.nunique().sum()

66

In [34]:
df_test.groupby('Data_documento').Codice_articolo.nunique().sum()

100