In [28]:
import pandas as pd
import numpy as np
from thefuzz import process

In [29]:
df_listino_gen = pd.read_csv('data_generated/listino_completo.csv')
df_listino_gen

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.PM419,1,NaN,46.52,2023-01-12,Veneziane
1,017.PM420,1,NaN,46.52,2023-01-12,Veneziane
2,017.PM421,1,NaN,48.75,2023-01-12,Veneziane
3,017.PM422,3,NaN,46.52,2023-01-12,Veneziane
4,017.PM423,1,NaN,46.52,2023-01-12,Veneziane
...,...,...,...,...,...,...
1857,052.MP.HPL.1,0,LAMINATO HPL 1 MM RETRORUVIDATO,6.00,2022-04-01,Laminati e altri
1858,052.MP.HPL.4,2,LAMINATO HPL 4 MM RETRORUVIDATO,14.20,2023-04-19,Laminati e altri
1859,052.MP.HPL.4,3,LAMINATO HPL 4 MM RETRORUVIDATO,14.20,2023-04-19,Laminati e altri
1860,052.MP.HPL.4,0,LAMINATO HPL 4 MM RETRORUVIDATO,14.20,2023-04-19,Laminati e altri
1861,052.MP.MDF,0,MDF GREZZO SP.16 mm PER MOBILI,6.50,2022-11-28,Laminati e altri

In [30]:
df_listino = pd.read_excel('data_clean/art_costi.xlsx')
df_listino

     Codice_articolo  Codice_variante  Costo Data_riferimento
0     017.GUI.MED.01                0   0.35       2022-03-09
1          017.PM001                2   1.00       2023-08-28
2          017.PM001                3   1.00       2023-08-28
3          017.PM001                4   1.00       2023-08-28
4          017.PM001                5   1.00       2023-08-28
...              ...              ...    ...              ...
2736  098.P055CF6ANT                1   3.50       2015-09-08
2737  098.P055CF6ANT                0   3.50       2013-05-02
2738       0MAG.0001                0  80.00       2018-06-14
2739       0MAG.0002                0  60.00       2018-06-14
2740         COM.ACC                0   0.88       2021-05-11

[2741 rows x 4 columns]

In [31]:
# Find codes present in df_listino_gen but not in df_listino
codes_listino_gen = df_listino_gen['Codice_articolo'].to_list()
codes_listino = df_listino['Codice_articolo'].to_list()

codes_to_insert = list(set(codes_listino_gen) - set(codes_listino))

# Filter rows from df_listino_gen for those codes
df_to_insert = df_listino_gen[df_listino_gen['Codice_articolo'].isin(codes_to_insert)]

# Concatenate DataFrames to insert new products
df_listino = pd.concat([df_listino, df_to_insert], ignore_index=True)
df_listino

,Codice_articolo,Codice_variante,Costo,Data_riferimento,Descrizione,Categoria
0,017.GUI.MED.01,0,0.35000,2022-03-09 00:00:00,NaN,NaN
1,017.PM001,2,1.00000,2023-08-28 00:00:00,NaN,NaN
2,017.PM001,3,1.00000,2023-08-28 00:00:00,NaN,NaN
3,017.PM001,4,1.00000,2023-08-28 00:00:00,NaN,NaN
4,017.PM001,5,1.00000,2023-08-28 00:00:00,NaN,NaN
...,...,...,...,...,...,...
2750,017.PM495,0,10000.00000,2012-05-09,PARETE MANOVRABILE ESTFELLER,Accessori
2751,028.001H41,0,0.32182,2022-04-08,SQUADRETTA DI AGGANCIO TELAIO PORTA ACC. PLANIKA,Accessori
2752,028.302ACZI,0,0.06210,2022-04-08,LEVETTA PER TRAVERSO,Accessori
2753,017.PM053,0,10000.00000,2022-11-28,TRUCIOLARE IMPIALLACCIATO UN LATO,Truciolare
2754,017.PM054,0,10000.00000,2022-11-28,TRUCIOLARE IMPIALLACCIATO DUE LATI,Truciolare

In [32]:
#df_listino = pd.read_csv('data_generated/listino_completo.csv')
#df_listino = pd.read_excel('data_clean/art_costi.xlsx')
df_ddt = pd.read_excel('data_clean/ddt_righe.xlsx')

In [33]:
IDs_listino_univoci = df_listino['Codice_articolo'].unique().tolist()
n_IDs_listino = len(IDs_listino_univoci)
IDs_ddt = df_ddt['Codice_articolo'].tolist()
IDs_ddt_univoci = df_ddt['Codice_articolo'].unique().tolist()
n_IDs_ddt = df_ddt['Codice_articolo'].nunique()

In [34]:
IDs_ddt_not_in_listino = [articolo for articolo in IDs_ddt if articolo not in IDs_listino_univoci]
IDs_ddt_not_in_listino_univoci = list(set(IDs_ddt_not_in_listino))
n_IDs_ddt_not_in_listino = len(IDs_ddt_not_in_listino)
n_IDs_ddt_not_in_listino_univoci = len(IDs_ddt_not_in_listino_univoci)

IDs_listino_not_in_ddt_univoci = [articolo for articolo in IDs_listino_univoci if articolo not in IDs_ddt_univoci]
n_IDs_listino_not_in_ddt = len(IDs_listino_not_in_ddt_univoci)

print('Numero articoli nel listino: ', n_IDs_listino)
print('Numero articoli nei DDT: ', n_IDs_ddt)
print('Numero articoli nei DDT non presenti nel listino: ', n_IDs_ddt_not_in_listino)
print('Numero articoli nei DDT non presenti nel listino (univoci): ', n_IDs_ddt_not_in_listino_univoci)
print('Numero articoli nel listino non presenti nei DDT (univoci): ', n_IDs_listino_not_in_ddt)
print('Percentuale articoli nei DDT non presenti nel listino (univoci): ', n_IDs_ddt_not_in_listino_univoci/n_IDs_ddt)
print('Percentuale articoli nel listino non presenti nei DDT (univoci): ', n_IDs_listino_not_in_ddt/n_IDs_listino)

Numero articoli nel listino:  1325
Numero articoli nei DDT:  1168
Numero articoli nei DDT non presenti nel listino:  12250
Numero articoli nei DDT non presenti nel listino (univoci):  289
Numero articoli nel listino non presenti nei DDT (univoci):  446
Percentuale articoli nei DDT non presenti nel listino (univoci):  0.24743150684931506
Percentuale articoli nel listino non presenti nei DDT (univoci):  0.3366037735849057

In [35]:
dict_result = {'ID DDT':[], 'ID più simile nel listino':[], 'score':[]}
for i in range(0, n_IDs_ddt_not_in_listino_univoci):
    dict_result['ID DDT'].append(IDs_ddt_not_in_listino_univoci[i])
    dict_result['ID più simile nel listino'].append(process.extract(IDs_ddt_not_in_listino_univoci[i], IDs_listino_univoci, limit=1)[0][0])
    dict_result['score'].append(process.extract(IDs_ddt_not_in_listino_univoci[i], IDs_listino_univoci, limit=1)[0][1])
df_ddt_simili_listino = pd.DataFrame(dict_result)
df_ddt_simili_listino

             ID DDT ID più simile nel listino  score
0    017.TD.NDE.008                 017.PM001     86
1           KCL.ING           052.MP.LA.IN.08     51
2      091.NW2604AN                091.NW2604     91
3     052.S0.SC2184      052.MP.SPS.002.01.45     86
4         017.IMB08            017.GUI.MED.01     86
..              ...                       ...    ...
284    091.NW2615AN                091.NW2615     91
285  017.TD.OPE.003            017.TD.HOP.003     93
286  017.TD.ACC.026        017.TD.ACC.012.D16     88
287   052.MP.VIT.20             052.MP.VIT.01     92
288   090.ANTATR.02           092.ANTASCTR.02     86

[289 rows x 3 columns]

In [36]:
dict_result = {'ID listino':[], 'ID più simile nei DDT':[], 'score':[]}
for i in range(0, n_IDs_listino_not_in_ddt):
    dict_result['ID listino'].append(IDs_listino_not_in_ddt_univoci[i])
    dict_result['ID più simile nei DDT'].append(process.extract(IDs_listino_not_in_ddt_univoci[i], IDs_ddt_univoci, limit=1)[0][0])
    dict_result['score'].append(process.extract(IDs_listino_not_in_ddt_univoci[i], IDs_ddt_univoci, limit=1)[0][1])
df_listino_simili_ddt = pd.DataFrame(dict_result)
df_listino_simili_ddt

     ID listino ID più simile nei DDT  score
0     017.PM023             017.PM303     89
1     017.PM024             017.PM524     89
2     017.PM025             017.PM056     89
3     017.PM055           017.PM055.H     95
4     017.PM058             017.PM056     89
..          ...                   ...    ...
441   017.PM493             017.PM438     89
442   017.PM495             017.PM405     89
443  028.001H41            028.020LMH     70
444   017.PM053             017.PM056     89
445   017.PM054             017.PM056     89

[446 rows x 3 columns]

In [38]:
#save both dataframes to csv
df_ddt_simili_listino.to_csv('data_generated/ddt_simili_listino.csv', index=False)
df_listino_simili_ddt.to_csv('data_generated/listino_simili_ddt.csv', index=False)