In [52]:
import pandas as pd
import numpy as np

In [53]:
df = pd.read_excel('data_raw/dbo_DDT_FOR_RIGHE.xlsx')
# remove columns with all 0
df = df.loc[:, (df != 0).any(axis=0)]
# remove columns with all NaN
df = df.dropna(axis=1, how='all')
df

,AZIENDA_ID,DOC_ID,NUM_RIGA,DOC_RIGA_ID,COD_CF,UM_BASE,COD_ART,DES_RIGA,DATA_DOC,UM,...,FLAG_COSTI_RIGA_MAN,COD_LIST,NO_RICALC_PRZ,COD_CF_FATT_STDAG,FLAG_PERS,COD_LIST_VERS,FLAG_IMPO_ACQ,IVA_INDETRAIBILE_V1,NUM_SORT,FLAG_CONVERS_MAN
0,1,2016-BADDV-0000001,1,2016-BADDV-0000001-001,2521,PZ,017.PM107.001,ANTA APR. DX IN CRISTALLO SATINATO 895x2040,2016-09-19,PZ,...,0,NaN,1,2521,4,NaN,0,0.0,1,0
1,1,2016-BADDV-0000001,2,2016-BADDV-0000001-002,2521,PZ,017.PM107.003,ANTA APR. SX IN CRISTALLO SATINATO 895x2040,2016-09-19,PZ,...,0,NaN,1,2521,4,NaN,0,0.0,2,0
2,1,2016-BADDV-0000001,3,2016-BADDV-0000001-003,2521,MQ,017.PM152,VETRO STRATIFICATO 3+3,2016-09-19,NR,...,0,NaN,1,2521,4,NaN,1,0.0,3,0
3,1,2016-BADDV-0000001,4,2016-BADDV-0000001-004,2521,PZ,090.ANTATR.13,ANTA LIGHT SCORR. SX o DX CRISTALLO TRASP. 106...,2016-09-19,PZ,...,0,NaN,1,2521,4,NaN,0,0.0,4,0
4,1,2016-BADDV-0000001,5,2016-BADDV-0000001-005,2521,MQ,090.VST55,VETRO STRATIFICATO TRASPARENTE 5+5,2016-09-19,MQ,...,0,NaN,1,2521,4,NaN,0,0.0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33357,1,2024-BADDV-0000447,17,2024-BADDV-0000447-017,1964,MQ,090.VST33,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,2024-03-15,NR,...,0,NaN,1,1964,4,NaN,1,0.0,17,0
33358,1,2024-BADDV-0000447,18,2024-BADDV-0000447-018,1964,MQ,090.VST33,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,2024-03-15,NR,...,0,NaN,1,1964,4,NaN,1,0.0,18,0
33359,1,2024-BADDV-0000448,1,2024-BADDV-0000448-001,1964,PZ,052.MP.VT.POR.TR.45.04,VETROCAMERA ANG. 90° TR. 904X950 SU PORTA SERI...,2024-03-18,PZ,...,0,NaN,0,1964,0,NaN,0,0.0,1,0
33360,1,2024-BADDV-0000448,2,2024-BADDV-0000448-002,1964,PZ,052.MP.VT.POR.TR.45.04,VETROCAMERA ANG. 90° TR. 904X950 SU PORTA SERI...,2024-03-18,PZ,...,0,NaN,0,1964,0,NaN,0,0.0,2,0
33361,1,2024-BADDV-0000449,1,2024-BADDV-0000449-001,682,PZ,017.PM397,CATENACCIOLO PER PORTA DOPPIA CRISTALLO SP.10 MM,2024-02-28,PZ,...,0,NaN,1,682,4,NaN,0,0.0,1,0

In [54]:
df = df.drop(columns=[
    'DOC_RIGA_ID','COD_ART_VAR', 'SCONTO_1', 'SCONTO_2', 'SCONTO_3', 'SCONTO_4',
       'SCONTO_PAG','NOTE','FLAG_CONVERS_EDITABILE', 'FLAG_COSTI_RIGA_MAN','NO_RICALC_PRZ', 'COD_CF_FATT_STDAG', 'FLAG_PERS','FLAG_IMPO_ACQ', 'IVA_INDETRAIBILE_V1', 'NUM_SORT',
       'FLAG_CONVERS_MAN', 'AZIENDA_ID', 'COD_DEP', 'COD_DEP_2','NUM_RIGA','QUANT_RIGA','COD_CAUS_MAG','COSTI_RIGA_V1','NUM_UM',"COD_LIST",	'COD_LIST_VERS',"COD_IVA",
       'PREZZO_NETTO_VU1',"CONVERS_UM_BASE"])
df

,DOC_ID,COD_CF,UM_BASE,COD_ART,DES_RIGA,DATA_DOC,UM,QUANT_UM_BASE,PREZZO_NETTO_TOT_VU1,IMPORTO_V1,IMPORTO_PAG_V1,PREZZO_LORDO_VU1,PREZZO_NETTO_PAG_VU1,COD_VAR,COD_CONTO,COD_CAT
0,2016-BADDV-0000001,2521,PZ,017.PM107.001,ANTA APR. DX IN CRISTALLO SATINATO 895x2040,2016-09-19,PZ,16.00,94.00000,1504.00,1504.00,94.00000,94.00000,NaN,05.01.01.01.01.01,10.30.40.10.20
1,2016-BADDV-0000001,2521,PZ,017.PM107.003,ANTA APR. SX IN CRISTALLO SATINATO 895x2040,2016-09-19,PZ,33.00,94.00000,3102.00,3102.00,94.00000,94.00000,NaN,05.01.01.01.01.01,10.30.40.10.20
2,2016-BADDV-0000001,2521,MQ,017.PM152,VETRO STRATIFICATO 3+3,2016-09-19,NR,31.48,23.58132,742.34,742.34,23.58132,23.58132,3.0,05.01.01.01.01.01,10.30.40.10.10
3,2016-BADDV-0000001,2521,PZ,090.ANTATR.13,ANTA LIGHT SCORR. SX o DX CRISTALLO TRASP. 106...,2016-09-19,PZ,2.00,92.25000,184.50,184.50,92.25000,92.25000,NaN,05.01.01.01.01.01,10.30.40.10.60
4,2016-BADDV-0000001,2521,MQ,090.VST55,VETRO STRATIFICATO TRASPARENTE 5+5,2016-09-19,MQ,64.39,20.50008,1320.00,1320.00,20.50000,20.50000,309.0,05.01.01.01.01.01,10.30.40.10.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33357,2024-BADDV-0000447,1964,MQ,090.VST33,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,2024-03-15,NR,13.87,25.00000,346.75,346.75,25.00000,25.00000,351.0,05.01.01.01.01.01,10.30.40.10.50
33358,2024-BADDV-0000447,1964,MQ,090.VST33,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,2024-03-15,NR,1.90,25.00000,47.50,47.50,25.00000,25.00000,791.0,05.01.01.01.01.01,10.30.40.10.50
33359,2024-BADDV-0000448,1964,PZ,052.MP.VT.POR.TR.45.04,VETROCAMERA ANG. 90° TR. 904X950 SU PORTA SERI...,2024-03-18,PZ,4.00,0.00000,0.00,0.00,0.00000,0.00000,NaN,05.01.01.01.01.01,20.30.050
33360,2024-BADDV-0000448,1964,PZ,052.MP.VT.POR.TR.45.04,VETROCAMERA ANG. 90° TR. 904X950 SU PORTA SERI...,2024-03-18,PZ,1.00,0.00000,0.00,0.00,0.00000,0.00000,NaN,05.01.01.01.01.01,20.30.050
33361,2024-BADDV-0000449,682,PZ,017.PM397,CATENACCIOLO PER PORTA DOPPIA CRISTALLO SP.10 MM,2024-02-28,PZ,20.00,50.25000,1005.00,1005.00,100.50000,50.25000,NaN,05.01.01.01.01.01,10.30.50.10.010

In [55]:
df.columns

Index(['DOC_ID', 'COD_CF', 'UM_BASE', 'COD_ART', 'DES_RIGA', 'DATA_DOC', 'UM',
       'QUANT_UM_BASE', 'PREZZO_NETTO_TOT_VU1', 'IMPORTO_V1', 'IMPORTO_PAG_V1',
       'PREZZO_LORDO_VU1', 'PREZZO_NETTO_PAG_VU1', 'COD_VAR', 'COD_CONTO',
       'COD_CAT'],
      dtype='object')

In [56]:
df.describe()

,COD_CF,DATA_DOC,QUANT_UM_BASE,PREZZO_NETTO_TOT_VU1,IMPORTO_V1,IMPORTO_PAG_V1,PREZZO_LORDO_VU1,PREZZO_NETTO_PAG_VU1,COD_VAR
count,33362.000000,33362,33362.000000,33362.000000,33362.000000,33362.000000,33362.000000,33362.000000,15334.000000
mean,2986.091961,2021-04-23 23:44:48.399975680,386.528791,129.398925,653.211814,653.195857,137.676121,129.353191,1440.966871
min,520.000000,2016-09-19 00:00:00,0.030000,-7164.200000,-7164.200000,-7164.200000,-7164.200000,-7164.200000,1.000000
25%,2521.000000,2020-01-14 00:00:00,1.920000,5.600000,48.455000,48.455000,4.508200,4.300000,125.000000
50%,3227.000000,2021-06-28 00:00:00,5.020000,23.500685,132.720000,132.720000,23.850000,23.500000,1174.000000
75%,3493.000000,2022-11-30 00:00:00,31.577500,40.000000,397.170000,397.057500,42.835500,40.000000,2345.000000
max,5636.000000,2024-03-18 00:00:00,100000.000000,88500.000000,160000.000000,160000.000000,88500.000000,88500.000000,5112.000000
std,1129.800283,NaN,2051.697821,1332.732811,2477.654466,2477.612176,1353.211871,1333.092689,1372.024285

In [57]:
df.head()

,DOC_ID,COD_CF,UM_BASE,COD_ART,DES_RIGA,DATA_DOC,UM,QUANT_UM_BASE,PREZZO_NETTO_TOT_VU1,IMPORTO_V1,IMPORTO_PAG_V1,PREZZO_LORDO_VU1,PREZZO_NETTO_PAG_VU1,COD_VAR,COD_CONTO,COD_CAT
0,2016-BADDV-0000001,2521,PZ,017.PM107.001,ANTA APR. DX IN CRISTALLO SATINATO 895x2040,2016-09-19,PZ,16.00,94.00000,1504.00,1504.00,94.00000,94.00000,NaN,05.01.01.01.01.01,10.30.40.10.20
1,2016-BADDV-0000001,2521,PZ,017.PM107.003,ANTA APR. SX IN CRISTALLO SATINATO 895x2040,2016-09-19,PZ,33.00,94.00000,3102.00,3102.00,94.00000,94.00000,NaN,05.01.01.01.01.01,10.30.40.10.20
2,2016-BADDV-0000001,2521,MQ,017.PM152,VETRO STRATIFICATO 3+3,2016-09-19,NR,31.48,23.58132,742.34,742.34,23.58132,23.58132,3.0,05.01.01.01.01.01,10.30.40.10.10
3,2016-BADDV-0000001,2521,PZ,090.ANTATR.13,ANTA LIGHT SCORR. SX o DX CRISTALLO TRASP. 106...,2016-09-19,PZ,2.00,92.25000,184.50,184.50,92.25000,92.25000,NaN,05.01.01.01.01.01,10.30.40.10.60
4,2016-BADDV-0000001,2521,MQ,090.VST55,VETRO STRATIFICATO TRASPARENTE 5+5,2016-09-19,MQ,64.39,20.50008,1320.00,1320.00,20.50000,20.50000,309.0,05.01.01.01.01.01,10.30.40.10.50

In [58]:
df["CONVERS_UM_BASE"].value_counts()

KeyError: 'CONVERS_UM_BASE'