In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
df_listino = pd.read_csv('data_demo/art_costi.csv')
df_listino["Data_riferimento"] = pd.to_datetime(df_listino["Data_riferimento"]).dt.to_period("M")
df_listino

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.PM419,1,NaN,46.52,2023-01,Veneziane
1,017.PM421,1,NaN,48.75,2023-01,Veneziane
2,017.PM422,3,NaN,46.52,2023-01,Veneziane
3,017.PM424,2,NaN,51.80,2023-01,Veneziane
4,017.PM425,1,NaN,46.52,2023-01,Veneziane
...,...,...,...,...,...,...
1508,052.MP.HPL.1,0,LAMINATO HPL 1 MM RETRORUVIDATO,6.00,2022-04,Laminati e altri
1509,052.MP.HPL.4,2,LAMINATO HPL 4 MM RETRORUVIDATO,14.20,2023-04,Laminati e altri
1510,052.MP.HPL.4,3,LAMINATO HPL 4 MM RETRORUVIDATO,14.20,2023-04,Laminati e altri
1511,052.MP.HPL.4,0,LAMINATO HPL 4 MM RETRORUVIDATO,14.20,2023-04,Laminati e altri
1512,052.MP.MDF,0,MDF GREZZO SP.16 mm PER MOBILI,6.50,2022-11,Laminati e altri

In [3]:
df_listino_original = pd.read_csv('data_clean/art_costi.csv')
df_listino_original["Data_riferimento"] = pd.to_datetime(df_listino_original["Data_riferimento"]).dt.to_period("M")
df_listino_original

     Codice_articolo  Codice_variante  Costo Data_riferimento
0     017.GUI.MED.01                0   0.35          2022-03
1          017.PM001                2   1.00          2023-08
2          017.PM001                3   1.00          2023-08
3          017.PM001                4   1.00          2023-08
4          017.PM001                5   1.00          2023-08
...              ...              ...    ...              ...
2736  098.P055CF6ANT                1   3.50          2015-09
2737  098.P055CF6ANT                0   3.50          2013-05
2738       0MAG.0001                0  80.00          2018-06
2739       0MAG.0002                0  60.00          2018-06
2740         COM.ACC                0   0.88          2021-05

[2741 rows x 4 columns]

In [4]:
df_ddt = pd.read_csv('data_demo/ddt_righe.csv')
df_ddt

,COD_CF_Fornitore,Data_documento,ID_documento,Descrizione,Codice_articolo,Codice_variante,Codice_categoria,Unita_misura,Quantita_um,Prezzo_netto_vu,importo
0,2521,2016-09-19,2016-BADDV-0000001,ANTA APR. DX IN CRISTALLO SATINATO 895x2040,017.PM107.001,0,10.30.40.10.20,PZ,16.00,94.00000,1504.00
1,2521,2016-09-19,2016-BADDV-0000001,ANTA APR. SX IN CRISTALLO SATINATO 895x2040,017.PM107.003,0,10.30.40.10.20,PZ,33.00,94.00000,3102.00
2,2521,2016-09-19,2016-BADDV-0000001,VETRO STRATIFICATO 3+3,017.PM152,3,10.30.40.10.10,MQ,31.48,23.58132,742.34
3,2521,2016-09-19,2016-BADDV-0000001,VETRO STRATIFICATO TRASPARENTE 5+5,090.VST55,309,10.30.40.10.50,MQ,64.39,20.50008,1320.00
4,1964,2016-09-21,2016-BADDV-0000002,VETRO STRATIFICATO TRASPARENTE 5+5,090.VST55,332,10.30.40.10.50,MQ,4.77,25.00000,119.25
...,...,...,...,...,...,...,...,...,...,...,...
20443,1964,2024-03-15,2024-BADDV-0000447,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,090.VST33,351,10.30.40.10.50,MQ,13.87,25.00000,346.75
20444,1964,2024-03-15,2024-BADDV-0000447,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,090.VST33,791,10.30.40.10.50,MQ,1.90,25.00000,47.50
20445,1964,2024-03-18,2024-BADDV-0000448,VETROCAMERA ANG. 90° TR. 904X950 SU PORTA SERI...,052.MP.VT.POR.TR.45.04,0,20.30.050,PZ,4.00,0.00000,0.00
20446,1964,2024-03-18,2024-BADDV-0000448,VETROCAMERA ANG. 90° TR. 904X950 SU PORTA SERI...,052.MP.VT.POR.TR.45.04,0,20.30.050,PZ,1.00,0.00000,0.00
20447,682,2024-02-28,2024-BADDV-0000449,CATENACCIOLO PER PORTA DOPPIA CRISTALLO SP.10 MM,017.PM397,0,10.30.50.10.010,PZ,20.00,50.25000,1005.00

In [5]:
codice = "090.VST33"#"027.101TEL.H"

In [6]:
len(df_ddt[(df_ddt["Codice_articolo"] == codice)]) #DDT

1192

In [7]:
len(df_listino[(df_listino["Codice_articolo"] == codice)]) #Listino

91

In [8]:
len(df_listino_original[(df_listino_original["Codice_articolo"] == codice)]) #Listino

109

In [9]:
df_listino_original[(df_listino_original["Codice_articolo"] == codice)]

     Codice_articolo  Codice_variante  Costo Data_riferimento
2462       090.VST33                1   24.5          2023-08
2463       090.VST33                2   24.5          2023-08
2464       090.VST33                3   24.5          2023-08
2465       090.VST33                4   24.5          2023-08
2466       090.VST33                5   24.5          2023-08
...              ...              ...    ...              ...
2566       090.VST33              766   24.5          2023-11
2567       090.VST33              767   24.5          2023-11
2568       090.VST33              768   24.5          2023-11
2569       090.VST33              769   24.5          2023-11
2570       090.VST33                0   24.5          2023-08

[109 rows x 4 columns]

In [10]:
df_costo_listino = df_listino[(df_listino["Codice_articolo"] == codice)]
df_costo_listino

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
454,090.VST33,1,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,24.5,2023-08,Vetri
455,090.VST33,2,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,24.5,2023-08,Vetri
456,090.VST33,3,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,24.5,2023-08,Vetri
457,090.VST33,4,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,24.5,2023-08,Vetri
458,090.VST33,5,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,24.5,2023-08,Vetri
...,...,...,...,...,...,...
540,090.VST33,468,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,24.5,2023-08,Vetri
541,090.VST33,469,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,24.5,2023-08,Vetri
542,090.VST33,470,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,24.5,2023-08,Vetri
543,090.VST33,471,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,24.5,2023-08,Vetri
544,090.VST33,0,VETRO TRASPARENTE STRATIFICATO 3+3 F.G. ANTA I...,24.5,2023-08,Vetri

In [11]:
if not df_costo_listino.empty:
    costo_listino = df_costo_listino["Costo"].values[0]
    data_riferimento = df_costo_listino["Data_riferimento"].values[0]
else:
    costo_listino = np.nan
    data_riferimento = np.nan
costo_listino, data_riferimento

(24.5, Period('2023-08', 'M'))

In [12]:
df_costo_listino_original = df_listino_original[(df_listino_original["Codice_articolo"] == codice)]
df_costo_listino_original

     Codice_articolo  Codice_variante  Costo Data_riferimento
2462       090.VST33                1   24.5          2023-08
2463       090.VST33                2   24.5          2023-08
2464       090.VST33                3   24.5          2023-08
2465       090.VST33                4   24.5          2023-08
2466       090.VST33                5   24.5          2023-08
...              ...              ...    ...              ...
2566       090.VST33              766   24.5          2023-11
2567       090.VST33              767   24.5          2023-11
2568       090.VST33              768   24.5          2023-11
2569       090.VST33              769   24.5          2023-11
2570       090.VST33                0   24.5          2023-08

[109 rows x 4 columns]

In [13]:
if not df_costo_listino_original.empty:
    costo_listino_original = df_costo_listino_original["Costo"].values[0]
    data_riferimento_original = df_costo_listino_original["Data_riferimento"].values[0]
else:
    costo_listino_original = np.nan
    data_riferimento_original = np.nan
costo_listino_original, data_riferimento_original

(24.5, Period('2023-08', 'M'))

In [14]:
df_codice = df_ddt[(df_ddt["Codice_articolo"] == codice)][["Data_documento", "Prezzo_netto_vu"]].copy()
# remove day from date, keep only month and year
df_codice["Data_documento"] = pd.to_datetime(df_codice["Data_documento"]).dt.to_period("M")
# average by month
df_codice = df_codice.groupby("Data_documento").mean()
# fill missing months
df_codice = df_codice.reindex(pd.period_range(start=df_codice.index.min(), end=df_codice.index.max(), freq="M"))
df_codice = df_codice.ffill() #df_codice.fillna(0) #
df_codice["Prezzo_netto_vu"] = df_codice["Prezzo_netto_vu"].round(2)
#df_027["MA"] = df_027["Prezzo_netto_vu"].rolling(window=20).mean()
df_codice["Costo_listino"] = costo_listino_original
# for dates prior to the listino date, set costo listino to nan to avoid plotting
if np.isnan(data_riferimento_original):
    data_riferimento_original = df_codice.index[0]
print(data_riferimento_original)
df_codice.loc[df_codice.index < data_riferimento_original, "Costo_listino"] = np.nan
df_codice

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
fig = px.line(df_codice, x=df_codice.index.to_timestamp() ,
               y=['Prezzo_netto_vu', "Costo_listino"], template='plotly_white', title=f'Prezzo Netto VU medio mese prodotto codice: {codice}',
                 markers=True, range_y=[0, df_codice["Prezzo_netto_vu"].max()*1.1])
fig.update_traces(textposition='top center')
fig.show()